header {
  width: 100%;
  height: 64px;
  background-color: #4a154b;

}
.b-nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    
}
.b-nav-box--items-1 {
    width: 100%;
    height: 40px;
    margin-top: 12px;
}
.b-nav-box--items-2 {
    width: 100%;
    height: 25px;
    margin-top: 19px;
}
.b-nav-box-img {
    height: 80px;
}